./build-Scrabble-Desktop_Qt_5_12_0_GCC_64bit2-Debug
./build-Scrabble-Desktop_Qt_5_12_1_GCC_64bit-Default 
./client/.idea
./server/.idea

build-Scrabble-Desktop_Qt_5_12_0_GCC_64bit2-Debug/

server/cmake-build-debug/CMakeFiles/server\.dir/

client/\.idea/

server/\.idea/

server/cmake-build-debug/CMakeFiles/3\.13\.2/

server/cmake-build-debug/

*.autosave
