./build-Scrabble-Desktop_Qt_5_12_0_GCC_64bit2-Debug
./build-Scrabble-Desktop_Qt_5_12_1_GCC_64bit-Default 
./build-Scrabble-Desktop_Qt_5_12_0_GCC_64bit2-Debug/Makefile
./client/.idea/workspace.xml
./server/.idea/workspace.xml
./server/cmake-build-debug/CMakeFiles
./client/.idea
./server/.idea
./server/cmake-build-debug/*
./server/cmake-build-debug/*

server/\.idea/

build-Scrabble-Desktop_Qt_5_12_0_GCC_64bit2-Debug/

client/\.idea/

Scrabble/Scrabble\.pro

server/cmake-build-debug/CMakeFiles/

server/cmake-build-debug/

server/CMakeLists\.txt

*.autosave

*.swp
